@mixin deskboard($size) {
    $double-size: $size * 2;
    
    background-size: 
        $double-size $double-size,
        $double-size $double-size,
        $double-size $double-size,
        $double-size $double-size;
    
    background-position: 
        0 0,
        0 $size,
        $size (-$size),
        -$size 0;
}

@mixin mobile() {
    @media screen and (min-width: 576px) {
        @content;
    }
}